<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">


<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <!-- Appenders : begin -->
  <!-- display -->
  <appender name="console.err" class="org.apache.log4j.ConsoleAppender">
    <param name="Threshold" value="all" />
    <param name="target" value="System.err" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%l: [%p] [thread: %t] - %m%n " />
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="warn" />
      <param name="LevelMax" value="fatal" />
      <param name="AcceptOnMatch" value="false" />
    </filter>
  </appender>


  <appender name="console.out" class="org.apache.log4j.ConsoleAppender">
    <param name="Threshold" value="all" />
    <param name="target" value="System.out" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%l: [%p] [thread: %t] - %m%n " />
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="debug" />
      <param name="LevelMax" value="info" />
      <param name="AcceptOnMatch" value="false" />
    </filter>
  </appender>

  <!-- @log.file@ -->
  <appender name="fileRoot" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="@log.file@" />
    <param name="MaxFileSize" value="10000KB" />
    <param name="MaxBackupIndex" value="5" />
    <!-- both ImmediateFlush and BufferedIO must be consistent -->
    <!-- <param name="ImmediateFlush" value="false"/> -->
    <param name="BufferedIO" value="true" />
    <param name="BufferSize" value="8192" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %p [%t] - %m%n" />
    </layout>
  </appender>
  <!-- Appenders : end -->


 <logger name="de.toms_toy">
    <level value="ALL" />
  </logger>


  
  

 

  <!-- Root logger -->
  <root>
    <level value="INFO" />
    <appender-ref ref="console.err" />
    <appender-ref ref="console.out" />
    <appender-ref ref="fileRoot" />
  </root>

</log4j:configuration>

